<%= form_with(model: @menu_list, local: true) do |form| %>
  <% if @menu_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= @menu_list.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @menu_list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :メニュー名 %>
  <%= form.text_field :menu_name %>
  <% unless have_image?(@menu_list)%>
    <%= image_tag(@menu_list.image.url) %>
  <% end %>
  <%= form.file_field :image %>
  <%= form.collection_select :family_id, @families, :family_name, :family_name %>
  <%= form.submit "登録"%>

<% end %>
