

<%= link_to "メニュー追加",new_menu_list_path(@menu_list) %>

<!-- メニューの一覧が見れる -->
<%binding.pry%>
<%= link_to "登録メニューの一覧",menu_list_path(current_user) %>


<p>現在登録されているメニュー数は<%= MenuList.count%>個です</p>

<!--表示されるメニューをセットする -->
<% randam_menu = @menu_list.offset(rand(MenuList.count)).first %>
<%= randam_menu.menu_name %>
<% unless randam_menu.image.url.nil?%>
  <%= image_tag randam_menu.image.url, :size =>'300x300' %>
<% else %>
    <p class="lead">プロフィール画像：（なし）</p>
<% end %>

<button type="button" id="menu_button"><%= link_to "メニューを決める",menu_lists_path(@menu_list) %></button>
