<div class="clearfix">
  <p class="menu_count">現在登録されているメニュー数は<%= @menu_lists.count%>個です</p>
</div>

<!--表示されるメニューをセットする -->
<div class="randam_menu">
  <%= render "randam_menu" , menu_list: @menu_lists %>
</div>

<!-- モーダルボタン -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  メニュー追加
</button>

<!-- モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">メニューの追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @menu_list) do |form| %>
      <% if @menu_list.errors.any? %>
        <div id="error_explanation">
          <h2><%= @menu_list.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @menu_list.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="modal-body">
          <%= form.label :メニュー名 %>
          <%= form.text_field :menu_name %>
          <%= form.file_field :image %>
          <%= form.collection_select :family_id, @family, :family_name, :family_name, include_blank: "選択して下さい" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><%= form.submit "登録"%></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
