<table>
  <tr>
    <th>メニュー名</th>
    <th>image</th>
    <th>投稿者</th>
  </tr>
  <% @menu_lists.each_with_index do |menu_list,ids| %>
  <tr>
    <td><%= menu_list.menu_name %></td>
    <td><%= image_tag menu_list.image.url, :size =>'300x300' %></td>
    <td><%= @families.find(menu_list.family_id).family_name %></td>
  </tr>
  <% end %>
</table>

<!-- add_menuのフォーム -->
<%= render "add_menu_form" , menu_lists: @menu_list %>

<!-- add_family_nameのフォーム -->
<%= render "add_family_form" , family: @family %>
