
<table class="container show_table">
  <thead class="row mt-5">
    <tr class="offset-1 col-10 row table_head">
      <th class="col-4">メニュー名</th>
      <th class="col-4">image</th>
      <th class="col-4">投稿者</th>
    </tr>
  </thead>
  <% @menu_lists.each_with_index do |menu_list,ids| %>
      <tfoot class="card row mt-4 t_foot">
        <tr class="card-body offset-1 col-10 row">
            <td class="col-md-4 d-flex align-items-center justify-content-center table_data">
              <div class="menu_name">
                <%= menu_list.menu_name %>
              </div>
            </td>
            <td class="col-md-4 d-flex align-items-center justify-content-center"><%= image_tag menu_list.image.url, class:"img-fluid" ,alt:"Responsive image" %></td>
            <td class="col-md-4 d-flex align-items-center justify-content-center"><%= @families.find(menu_list.family_id).family_name %></td>
        </tr>
      </tfoot>
  <% end %>
</table>

<!-- ページネーション -->
<div class="paginate mt-4">
  <%= paginate @menu_lists, theme: 'twitter-bootstrap-4' %>
</div>

<!-- add_menuのフォーム -->
<%= render "add_menu_form" , menu_lists: @menu_list %>

<!-- add_family_nameのフォーム -->
<%= render "add_family_form" , family: @family %>
