<!-- edit_family_list_button -->
<div class="container">
  <div class="text-right row">
    <button type="button" class="edit_family_list_button offset-5 col-6 offset-md-10 col-md-2 tool2" data-toggle="modal" data-target="#edit_family_list_modal">
      Edit_family_list
    </button>
    <span class="comment edit_family_list_comment">登録している家族の管理ができます</span>
  </div>
</div>

<!-- edit_family_list_button Modal -->
<%= render "families/family_lists", families:@families, menu_lists: @menu_lists %>


<!-- showページ -->
<div class="show_menu">
    <%= render "menu_list_show", menu_lists: @menu_lists, families:@families %>
</div>
<!-- ページネーション -->
<div class="paginate mt-4">
  <%= paginate @menu_lists, theme: 'twitter-bootstrap-4' %>
</div>
<!-- add_menuのフォーム -->
<%= render "add_menu_form" , menu_lists: @menu_list %>
<!-- add_family_nameのフォーム -->
<%= render "add_family_form" , family: @family %>
