<br>
<div id="session_new_vue" class="container">
  <div  v-show="session_vue">
    <div class="containeer">
      <div class="row">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-outline-success offset-md-9 col-md-2 offset-6 col-5", id:"guest_button" %>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="text-center offset-md-4 col-md-4 offset-md-4 offset-2 col-8 offset-2">
          <img src="/imaage/session_image.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="new_session offset-md-5 col-md-2 offset-2 col-8">
          <h2>Log in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <!-- 試しのトップぺージ -->
  <div>
    <%= render "users/sessions/top" %>
  </div>
</div>


<script>
    new Vue({
       el: "#session_new_vue",
       data: {
           session_vue: false,
           slide_vue: true
       },
       methods: {
           click: function () {
               this.session_vue = !this.session_vue,
               this.slide_vue = !this.slide_vue
           }
       }
    });
</script>
