<%= form_with(model: @family, remote: true) do |form| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= @family.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @family.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :家族名 %>
  <%= form.text_field :family_name %>
  <%= form.submit "登録"%>

<% end %>
