<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Corben:700 rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
  </head>

  <body class='<%= controller.controller_name %>'>
    <% if user_signed_in? %>
      <header>
        <nav class="container-fluid menu_header">
          <div class="row">
            <div class="col-12 col-md-4  col-lg-4 text-center text-md-left current_user_name"><%= link_to "#{current_user.name}'s page", root_path %></div>
            <div class="col-12 col-md-1 col-lg-2 text-center text-md-right hedder_right" data-toggle="modal" data-target="#exampleModalLong"><button class="btn btn-link tool">Add family_name</button><span class="comment">家族名を追加します</span></div>
            <div class="col-12 col-md-1 col-lg-2 text-center text-md-right hedder_right" data-toggle="modal" data-target="#exampleModal"><button class="btn btn-link  tool">Add menu</button><span class="comment">メニューを追加します</span></div>
            <div class="col-12 col-md-1 col-lg-2 text-center text-md-right hedder_right"><button class="btn btn-link  tool"><%= link_to "Menu list",menu_list_path(current_user) %></button><span class="comment comment_show">登録している<br>メニューの一覧を<br>表示します</span></div>
            <div class="col-12 col-md-1 col-lg-2 text-center text-md-right hedder_right"><button class="btn btn-link"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button></div>
        </div>
        </nav>
      </header>
    <% end %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <p><%= link_to '戻る', 'javascript:history.back()' %></p>
    <% end %>
  </body>
</html>

<!-- // ツールチップ -->
<script>
  $("span.comment").css({
    position:"absolute",
    display:"none"
  })

  $(".tool").mouseover(function(){
    $(this).next("span.comment").fadeIn().css({
      "top":$(this).offset().top+30+"px"
    });
  }).mouseout(function(){
    $(this).next("span.comment").fadeOut();
  });

</script>
